<div class="nav-agency">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('homepage') }}">
                    <img src="assets/img/{% if logo is defined %}{{ logo }}{% else %}Logodark.png{% endif %}" alt="">
                </a>
                <div id="main-nav">
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="{{ path('homepage') }}">Home</a> </li>
                            <li><a href="{{ path('front.products') }}">Products</a> </li>
                            <li><a href="{{ path('front.contact') }}">Contact Us</a> </li>
                            <li><a href="{{ path('front.faq') }}">FAQ</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>