<footer class="container-fluid text-center foot">
    <div class="copyrights">
        <a href="{{ path('homepage') }}">
            <img class="footimg" src="{{ asset('/assets/img/Logo.png') }}" alt="Logo">
        </a>
        <hr class="dark-line">
        <div>
            <a class="link" href="{{ path('homepage') }}">Home</a>
            <a class="link" href="{{ path('front.products') }}">Products</a>
            <a class="link" href="{{ path('front.contact') }}">Contact Us</a>
            <a class="link" href="{{ path('front.faq') }}">FAQ</a>
        </div>
        <p class="white-txt small">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare elit odio, eu imperdiet ligula ullamcorper sed.
        </p>
    </div>
</footer>