<h2>
    {#dev navigation#}
    <ul>
        <li>
            <a href="{{ path('products.all') }}">Products</a>
        </li>
        <li>
            <a href="{{ path('contact.types.all') }}">ContactTypes</a>
        </li>
        <li>
            <a href="{{ path('contacts.all') }}">Contacts</a>
        </li>
        <li>
            <a href="{{ path('homepage') }}">Homepage</a>
        </li>
        <li>
            <a href="{{ path('contact') }}">Contact</a>
        </li>
        <li>
            <a href="{{ path('about') }}">About Us</a>
        </li>
    </ul>
</h2>