{% extends 'layouts/layout.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <h3>Images</h3>
    <div>
        {% if images is empty %}
            <img width="100px" src="{{ asset(uploads_image_dir ~'/products/default_product.jpg') }}">
        {% endif %}
        {% for image in images %}
            <img width="100px" src="{{ asset(image.getPath) }}">
        {% endfor %}
    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}
    <a href="{{ path('products.all') }}" class="btn btn-warning">Cancel</a>
{% endblock %}